.contats {
    margin: 20px auto; /* Adiciona margem e centraliza horizontalmente */
    text-align: left; /* Centraliza o texto dentro da div */
    
}

.contats p {
    font-size: 30px;
    color: black;
}