body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
   background-color: orange;
   border-radius: 5px;
   width: 100%;
   height: 80px;
   /* margin: 10px 300px; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white; 
}

h2 {
    color: white;
    font-size: 30px;
}

.header-col {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-col-button {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-col-button a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 800px;
}

.side-bar {
    background-color: lightgray;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 0; /* Inicia com largura 0 */
    overflow: hidden; /* Esconde o conteúdo que excede a largura */
    height: 100%;
    transition: width 0.5s ease; /* Transição suave */
}

.side-bar.open {
    width: 20vw; /* Largura total quando aberta */
}

.side-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.side-bar ul li {
    margin-bottom: 15px;
    margin-top: 15px;
}

.side-bar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

footer {
    background-color: gray;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
    margin-top: auto;
    text-align: center;
}

footer .theme button {
    background-color: orange;
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 0.5rem 1rem; /* Espaçamento interno do botão */
    font-size: 17px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
}

button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
    background-color: red;
}

body.dark {
    background-color: #333;
}

.side-bar.dark {
    background-color: #444;
}

header.dark {
    background-color: #555;
}

footer.dark {
    background-color: #222;
}