body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pizzas {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os itens em coluna */
    height: 100vh; /* Ocupa a altura total da tela */
}

main {
    display: flex; /* Ativa o Flexbox dentro de main */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os itens em coluna */
    text-align: center; /* Centraliza o texto */
}

.image-container {
    display: flex; /* Ativa o Flexbox para a imagem */
    justify-content: center; /* Centraliza a imagem */
    margin-top: 20px; /* Espaçamento acima da imagem */
    margin-bottom: 30px;
}

img {
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 5px;
}

h2 {
    font-size: 30px;
    color: black;
}

ol {
    list-style-type: none;
    text-align: left;
}